
@model IEnumerable<string>

<a class="btn btn-block @(ViewBag.SelectedCategory == null ? "btn-primary" : "btn-outline-secondary")"
    asp-action="Index" asp-route-category="" asp-route-pageNum="">Home</a>

@foreach (string category in Model)
{
    <a class="btn btn-block @(ViewBag.SelectedCategory == category ? "btn-primary" : "btn-outline-secondary")"
        asp-action="Index" asp-route-category="@category">@category</a>
} 