@page
@model BookstoreWebApp.Pages.OrderConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you! Your order has been completed.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>